/* Alba Matamoros Morales */

/* ---------------------- */
/* -- CONTROL D'ERRORS --*/
/* ---------------------- */

/* ERROR */
.error-container {
    background-color: #f8d7da;
    color: black;
    border: 1px solid #920d1b;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* CORRECTE */
.success-container {
    background-color: #8be985;
    color: black;
    border: 1px solid #1f741a;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

/* ESTILS */
.error-icon, .success-icon {
    margin-right: 10px;
    font-size: 20px;
}

.error-message, .success-message {
    margin: 0;
    padding: 0;
    font-size: 14px;
}
